:root {
  --green-ink: rgb(0, 255, 40);
  --red-ink: rgb(255, 102, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Delegate TM', Courier, monospace;
}

.ink-container {
  filter: contrast(50);
  mix-blend-mode: darken;
}

.js-cont[data-js="no-js"] .no-js {
  display: block;
}

.js-cont[data-js="js"] .js {
  display: block;
}

@font-face {
  font-family: 'Delegate TM';
  src: url('/fonts/Delegate TM.woff2') format('woff2');
}


